body {
  font-family: "Montserrat", sans-serif;
  color: #333; }

a {
  color: #999;
  text-decoration: none; }

#wrapper {
  position: relative;
  width: 320px;
  height: 500px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-image: -webkit-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.2)), -webkit-linear-gradient(342deg, #0f1b58, #0f1b58 10%, #e0a681 90%);
  border-radius: 25px;
  box-shadow: 0px 15px 15px -10px; }

.container {
  position: absolute;
  left: 0;
  width: 320px;
  height: 500px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -250px;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  -ms-perspective: 300px;
  perspective: 300px; }

.banner-left-item {
  margin: 2em 2em 2em 2em; }

.content-about {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #646464; }

.content-demo {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #646464; }

.shake {
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: panelShakeAnimation;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
  /*-webkit-animation-iteration-count: infinite;*/
  /*-moz-animation-iteration-count: infinite;*/
  /*-o-animation-iteration-count: infinite;*/
  /*animation-iteration-count: infinite;*/
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -moz-animation-name: panelShakeAnimation;
  -o-animation-name: panelShakeAnimation;
  animation-name: panelShakeAnimation; }

@-webkit-keyframes panelShakeAnimation {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  12.5% {
    -webkit-transform: translateX(-6px) rotateY(-4deg);
    -moz-transform: translateX(-6px) rotateY(-4deg);
    -ms-transform: translateX(-6px) rotateY(-4deg);
    -o-transform: translateX(-6px) rotateY(-4deg);
    transform: translateX(-6px) rotateY(-4deg); }
  37.5% {
    -webkit-transform: translateX(5px) rotateY(3deg);
    -moz-transform: translateX(5px) rotateY(3deg);
    -ms-transform: translateX(5px) rotateY(3deg);
    -o-transform: translateX(5px) rotateY(3deg);
    transform: translateX(5px) rotateY(3deg); }
  62.5% {
    -webkit-transform: translateX(-3px) rotateY(-1deg);
    -moz-transform: translateX(-3px) rotateY(-1deg);
    -ms-transform: translateX(-3px) rotateY(-1deg);
    -o-transform: translateX(-3px) rotateY(-1deg);
    transform: translateX(-3px) rotateY(-1deg); }
  87.5% {
    -webkit-transform: translateX(2px) rotateY(0.5deg);
    -moz-transform: translateX(2px) rotateY(0.5deg);
    -ms-transform: translateX(2px) rotateY(0.5deg);
    -o-transform: translateX(2px) rotateY(0.5deg);
    transform: translateX(2px) rotateY(0.5deg); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
/*# sourceMappingURL=main.css.map */
nav {
  background-color: #0F337A;
  background-color: #0f337b;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: auto hidden; }

nav > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #0F337A;
  background-color: #0f337b;
  color: #FF9538;
  color: rgba(255, 149, 56, 0.8) !important;
  height: 64px;
  font-weight: bold;
  font-size: 14px;
  padding: 0 24px;
  box-sizing: border-box;
  position: relative;
  padding-top: 4px;
  border-bottom: #1C5EE3 solid 4px;
  border-bottom: #1c5ee3 solid 4px;
  /*-webkit-transition:               color 0.2s cubic-bezier(0.4, 0, 0.2, 1),*/
  /*background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1),*/
  /*border-bottom-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);*/
  /*transition:               color 0.2s cubic-bezier(0.4, 0, 0.2, 1),*/
  /*background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1),*/
  /*border-bottom-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);*/
  -webkit-transition: color 0.2s ease, background-color 0.4s ease, border-bottom-color 0.4s ease;
  transition: color 0.2s ease, background-color 0.4s ease, border-bottom-color 0.4s ease; }

nav > a:hover {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none; }

nav > a:focus,
nav > a:active {
  color: rgba(255, 255, 255, 0.9);
  outline: none;
  text-decoration: none;
  background-color: #84A8F0;
  background-color: #84a8f0;
  border-bottom-color: #C75D00;
  border-bottom-color: rgba(199, 93, 0, 0.8); }

nav > a:before {
  content: '';
  display: block;
  position: absolute;
  background-color: #FFC107;
  width: 100%;
  left: 0;
  top: -4px;
  bottom: 64px;
  opacity: 0;
  -webkit-transition: bottom 0.3s cubic-bezier(0.4, 0, 0.2, 1), top 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: bottom 0.3s cubic-bezier(0.4, 0, 0.2, 1), top 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1); }

nav > a:target {
  color: white !important; }

nav > a:target:before {
  top: 60px;
  bottom: -4px;
  opacity: 1;
  -webkit-transition: bottom 0.3s cubic-bezier(0.4, 0, 0.2, 1), top 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: bottom 0.3s cubic-bezier(0.4, 0, 0.2, 1), top 0.4s cubic-bezier(0.4, 0, 0.2, 1); }

nav > section,
nav > a:target ~ section.DefaultTab {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: margin-left 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s;
  transition: margin-left 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s;
  margin-left: -96px; }

nav > section > div {
  padding: 48px;
  overflow: auto;
  min-height: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

nav > section > div > * {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

nav > section > div.ShrinkWrap {
  min-width: 0; }

nav > a:target + section ~ section {
  margin-left: 96px; }

nav > a:target + section,
nav section.DefaultTab {
  pointer-events: auto;
  opacity: 1;
  margin: 0; }

/* About */
.realistic {
  color: #222;
  font-family: Georgia, Baskerville, serif;
  font-size: 30px;
  position: absolute;
  top: -300px;
  left: 0;
  opacity: 0.25;
  transform-origin: 50% 600px;
  max-width: 900px;
  transform: scale(0.75, 0.75) perspective(1200px) rotateY(8deg) rotateX(45deg);
  text-shadow: 0 0 3px rgba(34, 34, 34, 0.6), 0 0 1px rgba(34, 34, 34, 0.2);
  text-align: justify; }

p {
  text-indent: 60px; }

h1 {
  font-weight: normal;
  font-size: 100px;
  text-align: center; }

.realistic.blur {
  pointer-events: none; }

.realistic.blur-top:nth-child(1) {
  transform: scale(0.75, 0.75) perspective(1200px) rotateY(8.2deg) rotateX(45.2deg); }

.realistic.blur-bottom:nth-child(1) {
  transform: scale(0.75, 0.75) perspective(1200px) rotateY(7.8deg) rotateX(44.8deg); }

.realistic.blur-top:nth-child(2) {
  transform: scale(0.75, 0.75) perspective(1200px) rotateY(8.4deg) rotateX(45.4deg); }

.realistic.blur-bottom:nth-child(2) {
  transform: scale(0.75, 0.75) perspective(1200px) rotateY(7.6deg) rotateX(44.6deg); }

.realistic.blur1 {
  transform: scale(0.75, 0.75) perspective(1200px) rotateY(8.4deg) rotateX(45.4deg); }

.realistic.blur2 {
  transform: scale(0.75, 0.75) perspective(1200px) rotateY(7.6deg) rotateX(44.6deg); }

.overlay {
  position: absolute;
  top: 1px;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(238, 238, 238, 0.3), rgba(238, 238, 238, 0));
  z-index: 99;
  pointer-events: none; }

/*# sourceMappingURL=main.css.map */
