<!DOCTYPE HTML>
<html ng-app="productionApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Demo</title>
  <!-- Twitter Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="css/dashboard.css">
  <!-- jQuery -->
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
  <!-- AngularJS -->
	<script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/controller.js"></script>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">IST - Product List</a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Placeholder</a></li>
        </ul>
        <!-- <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form> -->
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">Material: </a></li>
          <li><a href="#">Resistance: </a></li>
          <li><a href="#">Temperature Range: </a></li>
          <li><a href="#">Dimenstions: (L x W x H)</a></li>
          <li><a href="#">Tolerance: </a></li>
          <li><a href="#">Contacts Length: </a></li>
          <li><a href="#">Contacts Material: </a></li>

 <ul class="inline">
        <li>
            <div class="alert alert-info">
                 <h4>Total Filtered Client: {{filtered.length}}</h4>

            </div>
        </li>
        <li>
            <div class="btn-group" data-ng-class="{open: open}">
                <button class="btn">Filter by Company</button>
                <button class="btn dropdown-toggle" data-ng-click="open=!open"><span class="caret"></span>

                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <li><a data-ng-click="checkAll()"><i class="icon-ok-sign"></i>  Check All</a>

                    </li>
                    <li><a data-ng-click="selectedCompany=[];"><i class="icon-remove-sign"></i>  Uncheck All</a>

                    </li>
                    <li class="divider"></li>
                    <li data-ng-repeat="company in companyList"> <a data-ng-click="setSelectedClient()">{{company.name}}<span data-ng-class="isChecked(company.id)"></span></a>

                    </li>
                </ul>
            </div>
        </li>
    </ul>


          
        </ul>
      </div>

      <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
          <h4>Temperature</h4>          
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <h4>Humidity</h4>            
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <h4>Flow</h4>            
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <h4>Conductivity</h4>            
        </div>
      </div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="FilterCtrl">
        <div class="sensor-wrapper" ng-repeat="product in products">
          <div>Sensor Picture</div>
          <div>Description: {{ product.description }}</div>
          <div>Details: {{ product.details }}</div>            
          <button class="btn btn-default">Choose</button>
        </div>      
      </div>

    </div>
  </div>

  <div class="bottom-container">
    <div class="bottom-left">
      <h4>Picked Sensors</h4>
    </div>

    <div class="bottom-right">
      <h4>Special Requirement</h4>
    </div>
  </div>

</body>

</html>