body {
    font-family: 'Lobster', cursive;
    padding: 20px;
}

#search-form, .form-control {
    margin-bottom: 20px;
}

.cover {
    width: 300px;
    height: 300px;
    margin: 20px;
    display: inline-block;
    background-size: cover;
}

.cover > label {
    position: relative;
    top: -20px;
}

.cover:hover {
    cursor: pointer;
}

.cover.playing {
    border: 5px solid #e45343;
}

#disc {
    position: fixed;
    top: 0;
    right: 0;
    width: 107px;
    height: 110px;
    background: url("../assets/main.png") no-repeat;
}

#disc.playing {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@-webkit-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}
